build
**/**/create_project.tcl

**/**/*.rpt
**/**/*.smsg
**/**/*.summary
**/**/*.jdi
**/**/*.pin
**/**/*.qpf
**/**/*.qsf
**/**/*.sld
**/**/*.sof
**/**/*.done
**/**/*.o
**/**/*.v~

**/**/db
**/**/incremental_db
**/**/simulation
